/* CustomNavbar.css */
.nav {
  position: relative;
}

.underline {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  height: 3px;
  background-color: #00c853;
  transition: all 0.3s ease;
}

.search-bar {
  top: 7px;
  right: 13px;
}
.search-all {
  width: 1500px;
}
@media screen and (min-width: 300px) and (max-width: 680px) {
  .search-all {
    width: 350px;
  }
}
