/* CustomNavbar.css */
.nav {
  position: relative;
}

.underline {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  height: 3px;
  background-color: #00c853;
  transition: all 0.3s ease;
}

.search-bar {
  top: 7px;
  right: 13px;
}
